@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-xwct79');
	src:url('../fonts/icomoon.eot?#iefix-xwct79') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-xwct79') format('woff'),
		url('../fonts/icomoon.ttf?-xwct79') format('truetype'),
		url('../fonts/icomoon.svg?-xwct79#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-newspaper:before {
	content: "\e904";
}

.icon-books:before {
	content: "\e920";
}

.icon-envelop:before {
	content: "\e945";
}

.icon-sphere:before {
	content: "\e9c9";
}

.icon-facebook2:before {
	content: "\ea8d";
}

.icon-instagram:before {
	content: "\ea90";
}

.icon-twitter2:before {
	content: "\ea92";
}

.icon-news:before {
	content: "\e600";
}

.icon-note:before {
	content: "\e601";
}

.icon-study:before {
	content: "\e602";
}

.icon-large
{
	font-size: 4em;
	text-align: center;
}
