body
{
	font-size: 16px;
}

.card a {
	color: #2196f3;
	margin-right: 20px;
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	-ms-transition: color 0.3s ease;
	transition: color 0.3s ease;
	text-transform: uppercase;
}


nav .brand-logo {
	position: absolute;
	color: #fff;
	display: inline-block;
	font-size: 2.1rem;
	padding: 0 1em;
	font-weight: bold;
}

.faces-color
{
	background: #800000;
}

.bold
{
	font-weight: bold;
}

.divider {
	height: 1px;
	overflow: hidden;
	background-color: #e0e0e0;
}

.slider ul.indicators li.indicator-item.active {
	background-color: #b71c1c ;
}

.title-news
{
	margin: 0em -0.7em 1em -0.7em;
	border-radius: 2px 2px 0px 0px;
	padding: 0.5em 1em;
}

.title-news > h6
{
	font-weight: bold;
}

.news-title
{
	font-variant: lowercase;
}